{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/blog_index.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <title>index</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Bootsrap is working guys</h1>
    </div>
</body>
</html>
<script src="{%static 'js/blog_index.js'%}"></script>
<script  src="{% static 'jquery/dist/jquery.min.js' %}"></script>